body {
  background-color: rgb(50, 78, 78);

  margin: 0 auto;
}

.wrapper{
  display:flex;
  color:skyblue;
  flex-direction: column;
  align-content: center;
  width: 300px;
  margin: 0 auto;
}

.smurf_button{
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
}

.delete_button{
  text-decoration: none;
  border-radius: 25px;
  margin-right:10px;
}

.smurf_input{
border: none;
border-bottom: 1px solid black;


}

textarea:focus, input:focus{
  outline: none;
}